STRAPI_URL=http://localhost:1337
SITE_PORT=3000
DOCS_PORT=3001
BLOGS_PORT=3002
POSTGRES_PORT=5432
N8N_PORT=5678
LENS_API_PORT=4010
RUDDER_PORT=4011
STRAPI_ADMIN_JWT_SECRET=local-admin-jwt-secret
STRAPI_API_TOKEN_SALT=local-api-token-salt
STRAPI_APP_KEYS=appKey1,appKey2,appKey3,appKey4
STRAPI_JWT_SECRET=local-jwt-secret
POSTGRES_DB=strapi
POSTGRES_USER=strapi
POSTGRES_PASSWORD=strapi
