NODE_ENV=development
NEXT_PUBLIC_SITE_URL=http://localhost:3000
STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=
STRAPI_PREVIEW_TOKEN=local-preview-token
BLOG_CANONICAL_BASE=https://lmnas.com/blogs
NEXT_PUBLIC_RUDDER_WRITE_KEY=
NEXT_PUBLIC_RUDDER_DATA_PLANE_URL=
RUDDER_COOKIE_DOMAIN=.lmnas.com
POSTGRES_DB=lmnas
POSTGRES_USER=lmnas
POSTGRES_PASSWORD=lmnas
POSTGRES_PORT=5432
STRAPI_PORT=1337
N8N_PORT=5678
LENS_MOCK_PORT=4010
RUDDER_MOCK_PORT=4011
