HOST=0.0.0.0
PORT=1337
APP_KEYS=appKey1,appKey2,appKey3,appKey4
API_TOKEN_SALT=apiTokenSalt
ADMIN_JWT_SECRET=adminJwtSecret
TRANSFER_TOKEN_SALT=transferTokenSalt
JWT_SECRET=jwtSecret
PREVIEW_SECRET=local-preview-token
DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=lmnas
DATABASE_USERNAME=lmnas
DATABASE_PASSWORD=lmnas
DATABASE_SSL=false
